.app {
  height: 100vh;
}

.MainMenuDiv {
  text-align: center;
  background-color: rgb(247, 249, 245);
  min-height: 100vh;
  user-select: none;
  border: 3px double black;
  color: rgb(0, 0, 0);
}

.MainMenuButton {
  font-family: 'Courier New', Courier, monospace;
  width: 200px;
  height: 60px;
  text-align: center;
}

.MainMenuButtonText {
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
  margin-top: 5px;
  font-weight: bold;

}

.MainMenuTitle {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;

}

.NewGameMenuDiv {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
}

.NewGameMenuRoomNumberButton {
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: grey;
  display: inline-flex;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.NewGameMenuRoomNumberButtonText {
  font-family: 'Courier New', Courier, monospace;
  font-size: 33px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.NewGameMenuRoomShareButton {
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: rgb(0, 72, 255);
  align-items: center;
  margin-top: 10px;
}

.NewGameMenuRoomShareButtonText {
  font-family: 'Courier New', Courier, monospace;
  font-size: 33px;
  font-weight: bold;
  color: white;
}

.WaitingPlayerText {
  font-family: 'Courier New', Courier, monospace;
  font-size: 33px;
  font-weight: bold;
  color: black;
  margin-top: 30px;
}

.GameScreenUsername {
  display: inline;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-top: 30px;
}

.SecretNumber {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bolder;
  color: black;
  margin-top: 30px;
  text-decoration: underline;
}

.GuessNumber {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bolder;
  color: black;
  margin-bottom: 0px;
}

.NumpadInput {
  display: block;
  margin: 2em auto;
  border: none;
  padding: 0;
  width: auto;
  letter-spacing: 2ch;
  font-size: 23px;
  text-align: center;
  align-self: center;
  margin-left: -180px;
  color: rebeccapurple;
  font-weight: bold;


}

.NumpadInput:focus {
  outline: none;
  color: rebeccapurple;
  font-weight: bold;


}

.EnterBtn {

  height: 36px;
  padding: 10%;





}


.EnterBtnText {

  font-family: 'Courier New', Courier, monospace;

  font-weight: bold;
  color: white;



}

.JoinMenuDiv {
  text-align: center;

  user-select: none;
  font-size: 23px;

  font-weight: bold;

  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  color: rgb(0, 0, 0);
}

.RoomCodeInpt {
  text-align: center;
  margin: auto;
  width: 500px;
  border: 3px double #000000;
  padding: 30px;

  background-color: rgb(132, 204, 146);






  font-size: 23px;
  margin-top: 100px;

}

.GameScreen {
  text-align: center;
  margin: auto;
  width: 500px;
  border: 3px double #000000;
  padding: 30px;








  font-size: 23px;
  margin-top: 100px;

}


.btn-group {
  margin: auto;

  text-align: center;

}